---
import HomeCard from "../components/HomeCard.astro";
import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <HomeCard />
  </main>
</Layout>
