<button
  class="btn btn-outline btn-dark text-black-900 dark:text-black-900 bg-gray-300 opacity-50 focus:ring-white"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</button>
<style>
  .btn {
    border-radius: 1.5rem; /* Adjust the value as needed to control the border-radius */
  }
</style>
