---
import HeaderButton from "./HeaderButton.astro";

console.log("here goes javascript code");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      2024 creado por Marcel fumega
    </h2>
  </div>
</header>

<nav
  class="flex flex-col items-center justify-between w-full text-center md:flex-row"
>
  <HeaderButton class="text-white" href="/">Terminos de copyright</HeaderButton>
</nav>
