---
import HeaderButton from "./HeaderButton.astro";
import HomeCardButton from "./HomeCardButton.astro";
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
---

<footer class="flex flex-col justify-center items-center py-3 px-5 m-16">
  <nav class="flex justify-items-center gap-x-10 opacity-80">
    <HeaderButton>Inicio</HeaderButton>
    <HeaderButton>Portafolio</HeaderButton>
    <HeaderButton>Como trabajo</HeaderButton>
    <HeaderButton>Acerca de mi</HeaderButton>
    <HeaderButton>Entregas</HeaderButton>
  </nav>
  <nav class="flex justify-center items-center gap-10 opacity-80">
    <HeaderButton>
      <Instagram class="w-30 h-30" />
    </HeaderButton>
    <HeaderButton>
      <Facebook class="w-30 h-30" />
    </HeaderButton>
  </nav>
  <div class="text-gray-500">Copyright © 2024 Your Company</div>
</footer>

<style>
  footer {
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
  }
</style>
