---
import HeaderButton from "./HeaderButton.astro";
---

<div class="mx-auto text-center mb-8 lg:mb-16">
  <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
    Marcel Guilleron
  </h2>
  <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
    Donde cada imagen es un cuento y cada video una historia. Sumate al viaje
    visual, aca la magia esta en cada detalle
  </p>
</div>

<nav
  class="flex flex-col items-center justify-between w-full text-center md:flex-row"
>
  <HeaderButton class="text-white" href="/">Fotografia</HeaderButton>
  <HeaderButton class="text-white" href="/">Video</HeaderButton>
</nav>
